<!DOCTYPE html>
{% extends "base.html" %}

<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<div>
<body>
{% block content %}
<h1 class ="one"><center>Ghosts and Greys</center></h1>
<p class= "one">
I designed this site to serve both as somewhere a newcomer to the subject can get an <a href="{% url 'pages:intro' %}" class="baselinks">Introduction</a> to it and as somewhere that people already acquianted with the subject can get the latest news and express their own opinions. It's nowhere near finished and this is just an early version of it, if there is any interest i'll be adding blog posts, UFO news, and possibly a forum as well. Just testing the waters for now but thank you for looking and i appreciate any feedback via reddit u/Pandammonia.</p>

{% endblock content %}
</body>
</div>
</html>
