<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div class="one" style="float: right; display: inline-block;">
      {% if user.is_authenticated %}Hello, {{ user.get_username }}
      <a href="{% url 'accounts:logout' %}" class="baselinks">Logout</a> 
      {% else %}
      <a href="{% url 'accounts:login' %}"class="baselinks">Login</a> 
      <a href="{% url 'accounts:register' %}"class="baselinks">Register</a><br><br>
      {% endif %}
      </div>
        <div class ="one" style="text-align: left;">
        <a href="{% url 'pages:index' %}" class="baselinks">Home</a>    
        <a href="{% url 'pages:intro' %}" style="padding: 0 0 0 20px;" class="baselinks">Introduction</a>
        <a href="{% url 'pages:introcases' %}" style="padding: 0 0 0 20px;" class ="baselinks">Cases</a>        
        <a href="{% url 'pages:introtheories' %}" style="padding: 0 0 0 20px;" class="baselinks">Theories</a>
        <a href="{% url 'pages:fermi' %}" style="padding: 0 0 0 20px;" class="baselinks">Fermi</a>
        <a href="{% url 'pages:brave_new_world' %}" style="padding: 0 0 0 20px;" class="baselinks">Brave New World</a>
        <a href="{% url 'pages:sighting' %}" style="padding: 0 0 0 20px;" class="baselinks">Submit a sighting</a>
         <a href="{% url 'pages:theory' %}" style="padding: 0 0 0 20px;" class="baselinks">Submit a theory</a>

      </div>>

    {% block content %}{% endblock content %}
</p>
    </body>
    </html>